:root {
    --color-one: #f4f4f4;
    --color-two: #f0a500;
    --color-three: #cf7500;
    --color-four: darkgray;
    --color-five:#1a1c20;

  }

.navbar{
background:var(--color-three);
color:var(--color-one);
height: 90px;

}

.container{
    height: 100px;
    width: 85%;
    margin: auto;
}

.navbar .logo{
    width: 220px;
    float: left;
    margin-top: 10px;
    margin-right: 200px;
}

.navbar ul{
    color: var(--color-five);
    margin-top: 18px;
    margin-right: 200px;
    float:right;
    text-transform: uppercase;
    font-family:Montserrat,Arial,sans-serif;
    font-weight: 560;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navbar li{
    list-style: none;
    margin: 25px 5px 4px 5px;
    
}

.navbar .current{
    color: var(--color-one);
}

.navbar .logo{
    float:left;
    margin-left: 180px;
  margin-top: 23px;
  width: 50px;
}

.navbar h1{
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: var(--color-five);
    margin-top: 22px;
    margin-left: -180px;

}
.navbar a{
    color: var(--color-five);
}

.navbar h1 .sound{
    color: var(--color-one);
}

.btn{
    background: var(--color-four);
    border-radius: 5px;
    padding: 4px 4px;
    margin-bottom: 6px;
    
}

